@import 'globals/index';

.navbar {
	height: 72px;
	width: 100%;
	background-color: $black-grey;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	color: white;
	position: fixed;

	@include md {
		height: 80px;
	}

	@include lg {
		flex-direction: column;
		height: 100%;
		width: 103px;
		border-radius: 0 20px 20px 0;
	}

	&__logo-container {
		background-color: $light-purple;
		height: 100%;
		aspect-ratio: 1/1;
		border-radius: 0 20px 20px 0;
		display: flex;
		justify-content: center;
		align-items: center;

		@include lg {
			height: unset;
			width: 100%;
		}
	}

	&__icons-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 0 1.2rem;
		height: 100%;

		@include lg {
			flex-direction: column;
			padding: 1rem 0;
			height: auto;
			width: 100%;
		}
	}

	&__dark-light-switch {
		display: flex;
		align-items: center;
		height: 100%;
		border-right: 1px solid #494e6e;

		@include lg {
			width: 100%;
			justify-content: center;
			border-right: unset;
			border-bottom: 1px solid #494e6e;
			padding: 0.7rem 0;
		}

		button {
			margin: 0;
			padding: 0 1.2rem;
			background: transparent;
		}
	}

	&__user-picture {
		padding-left: 1.2rem;

		@include lg {
			width: 100%;
			padding-top: 1rem;
			padding-left: unset;
			display: flex;
			justify-content: center;
		}
	}
}
