@import 'variables';

.mainContainer {
  max-width: 255px;
}

.colorContainer {
  height: 103px;
  border-radius: 20px;
  position: relative;

  h2 {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
  }
}

// export to use directly in modules
:export {
  lightBg: $light;
  darkBg: $dark;
  white: $white;
  black: $black;
  purple: $purple;
  lightPurple: $light-purple;
  softPurple: $soft-purple;
  grey: $grey;
  lightGrey: $light-grey;
  darkGrey: $dark-grey;
  blackGrey: $black-grey;
  red: $red;
  lightRed: $light-red;
}