@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap');

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 16px;
}

body {
  font-size: $font-size-sm;
  font-family: 'League Spartan', sans-serif;
  color: $black;
  background: $light;
  
  @include darkMode {
    color: $white;
    background: $dark;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4 {
  font-weight: 700;
}

h1 {
  letter-spacing: -1px;
  line-height: 36px;
  font-size: $font-size-xl;
}

h2 {
  letter-spacing: -0.63px;
  line-height: 22px;
  font-size: $font-size-lg;
}

h3 {
  letter-spacing: -0.8px;
  line-height: 24px;
  font-size: $base-font-size;
}

h4 {
  letter-spacing: -0.25px;
  line-height: 15px;
  font-size: $font-size-sm;
}

@include darkMode {
  html {
    color-scheme: dark;
  }
}
